header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fafdfc;
  max-height: 40px;
}

h1 {
  margin-left: auto;
  font-size: 1.3rem;
}

main {
  margin-top: 60px;
  z-index: 500;
}